<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2>無性に辛いものが食べたくなるのはなぜ？</h2><br>

      <h4>唐辛子のピリ辛の正体は舌の痛み<br></h4>

      <h5>唐辛子といえばピリッとした辛さが特長ですよね。<br>
      この正体はカプサイシンという辛味成分ですが、<br>
      基本的な5つの味（甘味、酸味、塩味、苦味、旨味）には入っていないんです。<br>

      実は、<strong>辛味は刺激の一種</strong>なんです！辛いものを食べると、<br>
      感覚神経にあるTRPV1（刺激を感じるセンサー）の働きが活発になって神経が興奮します。<br>
      このときに感じる痛みが辛味なのだそうです。<br>

      ちなみにTRPV1は、43度以上の熱、酸味などの刺激でも働きが活発になるそう。<br>
      「辛い」という言葉は、英語でhotと言いますね。hotは熱いという意味もありますが、この2つは同じメカニズムなんです！<h5>
    </div>
  </div>
</div>