<% @reviews.each do |review| %>
  <p>タイトル</p>
    <span><%= link_to review.title, admin_review_path(review.id) %></span>
  <%= render 'public/favorites/btn', review: review %>
  コメント数： <%= review.review_comments.count %>
  <div class="col-1">
    <% review.categories.each do |category| %>
      <%= category.category_name %>
    <% end %>
  </div>
<% end %>