<div class="container">
    <h4 class="pt-5">いいねした投稿一覧</h>
  <div class="row pt-5">
    <% if @favorite_reviews.present? %>
     <%= render "public/reviews/index", reviews: @favorite_reviews %>
    <% else %>
     <h2>いいねはありません</h2>
    <% end %>
  </div>
</div>